
#level07{ 
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    display: flex;    
    flex-direction: column;
    justify-content: end;
}
#level06{    
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
}
#level05{
    clip-path: polygon(8% 0%, 92% 0%, 100% 100%, 0% 100%);
}
#level04{
    clip-path: polygon(7% 0%, 93% 0%, 100% 100%, 0% 100%);
}
#level03{
    clip-path: polygon(6% 0%, 94% 0%, 100% 100%, 0% 100%);
}
#level02{
    clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);
}
#level01{
    clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);
}

h1, article{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
h2, p{
    margin: 0;
    font-size: 0.8rem;
}
section{
    background-color: #eee;
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
article{
    height: 50px;
    margin: auto;
}
article#level07{
    height: 250px;
    background-color: rgb(176, 245, 245);
    width: 40%;
    order: 1;
}
article#level06{
    background-color: rgb(134,186,238);
    width: 50%;
    order: 2;
}
article#level05{
    background-color: rgb(238,184,211);
    width: 60%;
    order: 3;
}
article#level04{
    background-color: rgb(195,235,115);
    width: 70%;
    order: 4;
}
article#level03{
    background-color: rgb(248,248,130);
    width: 80%;
    order: 5;

}
article#level02{
    background-color: rgb(251,187,69);
    width: 90%;
    order: 6;

}
article#level01{
    background-color: rgb(207,63,63);
    width: 100%;
    order: 7;
}








