body{
    margin: 0;
    padding: 0;
    font-family: 'Martian Mono', monospace;
    font-family: 'Roboto', sans-serif;
    background-color: #F1EFEF;
}

header{
    background-color: #7D7C7C;
    height: 60px;
    position: absolute;
    width: 100%;
}
nav{
    text-align: center;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    height: 100%;
    padding-right: 1.5rem;
    gap:2rem;
}
nav a{
    text-decoration: none;
    color: #F1EFEF;
    font-size: 1.3rem;
    
}
nav a:hover{
    font-size: 1.2rem;
    font-style: italic;
}
header img{
   height: 60px;
   float: left;
   padding-left: 1rem;

}
.container{
    background-color: rgb(0, 153, 255);
    padding: 3rem;
    
}
ul{
    list-style: none;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}
li{
    font-weight: initial;

    
}
li:hover{
    font-style: italic;
}
h1{
    text-align: center;
    padding: 20px;
}
.cica{
    width: 300px;
    margin: auto;
    display: block;
    border: 3px gray solid;
}
.vissza{
    text-align: right;
    
}
p a{
    text-decoration: none;
    text-align: right;
}
section{
    width: 80%;
    padding: 15px;
    background-color: antiquewhite;
    margin: 20px auto 20px auto;
    border-radius: 35px;
}
p{
    text-indent: 10px;
    text-align: justify;
}
h3{
    font-variant: small-caps;
    text-decoration: underline;
    font-size: 1.3rem;
}
.container img{
    width: 1000px;
    margin: auto;
    display: block;
    border: 5px white solid;
    
}
h1::before,h1::after{
    content: "🖐️";
}